
{% assign resume = site.data.rfezzani_cv %}
{% assign locale = site.data.locales.en %}

<section class="col-md-3 card-wrapper profile-card-wrapper affix">
	<div class="card profile-card">
		<span class="profile-pic-container">
			<div class="profile-pic">
				<img data-src="holder.js/100x100"
						 alt="{{ resume.basics.name }}"
						 src="//www.gravatar.com/avatar/9acdb04e603c1cac2b893190f6dd5911?s=100&amp;r=pg&amp;d=mm"
						 itemprop="image"
						 class="media-object img-circle center-block"/>
			</div>
			<div class="name-and-profession text-center">
				{% if resume.basics.name %}
				<h3 itemprop="name"><b>{{ resume.basics.name }}</b> </h3>
				{% endif %}
				{% if resume.basics.label %}
				<h5 itemprop="jobTitle" class="text-muted">{{ resume.basics.label }}</h5>
				{% endif %}
			</div>
		</span>
		<hr/>
		<div class="contact-details clearfix">
			{% if resume.basics.location %}
			<div class="detail">
				<span class="icon">
					<i class="icon fs-lg icon-location"></i>
				</span>
				<span class="info">
					{{ resume.basics.location.address }},
					{{ resume.basics.location.postalCode }},
					{{ resume.basics.location.city }}.
					{{ resume.basics.location.region }}
				</span>
			</div>
			{% endif %}
			{% if resume.basics.phone %}
			<div class="detail">
				<span class="icon">
					<i class="icon fs-lg icon-phone"></i>
				</span>
				<span itemprop="telephone" class="info">
					{{ resume.basics.phone }}
				</span>
			</div>
			{% endif %}
			{% if resume.basics.email %}
			<div class="detail">
				<span class="icon">
					<i class="icon fs-lg icon-mail"></i>
				</span>
				<span class="info">
					{{ resume.basics.email | markdownify | remove: '<p>' | remove: '</p>' }}
				</span>
			</div>
			{% endif %}
			{% if resume.basics.website %}
			<div class="detail">
				<span class="icon">
					<i class="icon fs-lg icon-link"></i>
				</span>
				<span class="info">
					<a href="{{ resume.basics.website}}"
						 target="_blank">{{ resume.basics.website }}</a>
				</span>
			</div>
			{% endif %}
			{% if resume.languages != empty %}
			<div class="detail">
				<span title="Languages I speak"
							class="icon">
					<i class="icon fs-lg icon-language"></i>
				</span>
				<span class="info">
					{% for language in resume.languages %}
					  {% if language.name %}
					    {{ language.name }}
					  {% endif %}
					{% endfor %}
				</span>
			</div>
		</div>
		{% endif %}
		<hr/>
		{% if resume.basics.profiles != empty %}
		<div class="social-links text-center">
			<div>
				{% for profile in resume.basics.profiles %}
				{% if profile.network == "Twitter" %}
				<a href="{{ profile.url }}"
					 target="_blank" data-toggle="tooltip" title="Twitter" class="fs-2x social-link
					 link-twitter icon-twitter">
				</a>
				{% endif %}
				{% if profile.network == "Github" %}
				<a href="{{ profile.url }}"
					 target="_blank" data-toggle="tooltip" title="Github" class="fs-2x social-link
					 link-github icon-github">
				{% endif %}
				</a>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>
</section>
<section class="col-md-9 card-wrapper pull-right">
	<div class="card background-card">
		<h4 class="text-uppercase">Background</h4>
		<hr/>
		<div class="background-details">
			{% if resume.basics.summary %}
			<div id="about"	class="detail">
				<div class="icon">
					<i class="fs-lg icon-board"></i>
					<span class="mobile-title">About</span>
				</div>
				<div class="info">
					<h4 class="title text-uppercase">About</h4>
					<div class="card card-nested">
						<div itemprop="description"
								 class="content mop-wrapper">
							<p>{{ resume.basics.summary }}</p>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% if resume.work != empty %}
			<div id="work-experience" class="detail">
				<div class="icon">
					<i class="fs-lg icon-office"></i>
					<span class="mobile-title">Work Experience</span>
				</div>
				<div class="info">
					<h4 class="title text-uppercase">Work Experience</h4>
					{% for work in resume.work %}
					<ul class="list-unstyled clear-margin">
						<li class="card card-nested clearfix">
							<div class="content">
								<p class="clear-margin relative">
									<strong>{{ work.position }}</strong>,&nbsp;
									<a href="{{ work.website }}"
										 target="_blank">{{ work.company }}
									</a>
								</p>
								<p class="text-muted">
									<small>
										<span class="space-right">
											{% if work.endDate %}
											  {% if work.startDate %}
												  {{ work.startDate | date: "%B %Y" }} -
											  {% endif %}
												{{ work.endDate | date: "%B %Y" }}
											{% elsif work.startDate %}
											  {{locale.since}} {{ work.startDate | date: "%B %Y" }}
											{% else %}
											  {{locale.actually}}
											{% endif %}
										</span>
										<span>
											<i class="icon-clock mr-5">
											</i>1 year
										</span>
									</small>
								</p>
								{% if work.summary %}
								<div class="mop-wrapper space-bottom">
									{{ work.summary  | markdownify | remove: '<p>' | remove: '</p>' }}
								</div>
								{% endif %}
								{% if work.highlights != empty %}
								<ul>
									{% for highlight in work.highlights %}
									<li class="mop-wrapper">
										{{ highlight | markdownify  | remove: '<p>' | remove: '</p>' }}
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
						</li>
					</ul>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if resume.skills != empty %}
			<div id="skills"
					 class="detail">
				<div class="icon">
					<i class="fs-lg
										icon-tools">
					</i>
					<span class="mobile-title">Skills</span>
				</div>
				<div class="info">
					<h4 class="title
										 text-uppercase">Skills</h4>
					<div class="content">
						<ul class="list-unstyled clear-margin">
							{% for skill in resume.skills %}
							<li class="card card-nested card-skills">
								<div data-toggle="tooltip" title="{{ skill.level }}"
										 data-placement="left" class="skill-level">
									<div class="skill-progress {{ skill.level | downcase }}"></div>
								</div>
								<div class="skill-info">
									<strong>{{ skill.name }}</strong>
									<div class="space-top labels">
										{% for keyword in skill.keywords %}
										<span class="label label-keyword">{{ keyword }}</span>
										{% endfor %}
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			{% if resume.education != empty %}
			<div id="education" class="detail">
				<div class="icon">
					<i class="fs-lg icon-graduation-cap"></i>
					<span class="mobile-title">Education</span>
				</div>
				<div class="info">
					<h4 class="title text-uppercase">Education</h4>
					<div class="content">
						<ul class="list-unstyled clear-margin">
							{% for study in resume.education %}
							<li class="card card-nested">
								<div class="content">
									<p class="clear-margin relative">
										<strong>{{ study.studyType}},&nbsp;</strong>
										{{study.institution}}
									</p>
									<p class="text-muted">
										<small>
											{% if study.endDate %}
											  {% if study.startDate %}
												  {{ study.startDate | date: "%B %Y" }} -
											  {% endif %}
												{{ study.endDate | date: "%B %Y" }}
											{% elsif study.startDate %}
											  {{locale.since}} {{ study.startDate | date: "%B %Y" }}
											{% else %}
											  {{locale.actually}}
											{% endif %}
										</small>
									</p>
									{% if study.gpa %}
									<i>{{ study.gpa }}</i>
									{% endif %}
									{% if study.area %}
									<div class="space-top labels">
										<span class="label label-keyword">
											{{ study.area }}
										</span>
									</div>
									{% endif %}
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			{% if resume.awards != empty %}
			<div id="awards"
					 class="detail">
				<div class="icon"><i class="fs-lg icon-trophy">
					</i>
					<span class="mobile-title">Awards</span>
				</div>
				<div class="info">
					<h4 class="title text-uppercase"> Awards</h4>
					<div class="content">
						<ul class="list-unstyled clear-margin">
							{% for award in resume.awards %}
							<li class="card card-nested">
								<div class="content">
									<p itemprop="award" class="clear-margin">
										<strong>{{ award.name }}</strong> </p>
									{% if award.data %}
									<p class="text-muted">
										<small>Awarded on: {{ award.date }}</small>
									</p>
									{% endif %}
									{% if award.description %}
									<div class="mop-wrapper">
										<p>{{ award.description }}</p>
									</div>
									{% endif %}
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			{% if resume.volunteer != empty %}
			<div id="volunteer-work" class="detail">
				<div class="icon">
					<i class="fs-lg icon-child"></i>
					<span class="mobile-title">Volunteer Work</span>
				</div>
				<div class="info">
					<h4 class="title text-uppercase">Volunteer Work</h4>
					<div class="content">
						<ul class="list-unstyled clear-margin">
							{% for work in resume.volunteer %}
							<li class="card card-nested">
								<div class="content">
									<p class="clear-margin relative">
										<strong>{{ work.position}}, </strong>
										{% if work.website %}
										{% if work.organization %}
										<a href="{{ work.website }}"
											 target="_blank"> {{ work.organization }}
										</a>
										{% else %}
										<a href="{{ work.website }}"
											 target="_blank"> {{ work.website }}
										</a>
										{% endif %}
										{% elsif work.organization %}
										{{work.organization}}
										{% endif %}
									</p>
									<p class="text-muted">
										<small>
											{% if work.endDate %}
											  {% if work.startDate %}
												  {{ work.startDate | date: "%B %Y" }} -
											  {% endif %}
												{{ work.endDate | date: "%B %Y" }}
											{% elsif work.startDate %}
											  {{locale.since}} {{ work.startDate | date: "%B %Y" }}
											{% else %}
											  {{locale.actually}}
											{% endif %}
										</small>
									</p>
									{% if work.highlights != empty %}
									<ul>
										{% for highlight in work.highlights %}
										<li class="mop-wrapper"><p>{{ highlight }}</p>
										</li>
										{% endfor %}
									</ul>
									{% endif %}
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			{% if resume.publications != empty %}
			<div id="publications" class="detail">
				<div class="icon">
					<i class="fs-lg icon-newspaper"></i>
					<span class="mobile-title">Publications</span>
				</div>
				<div class="info">
					<h4 class="title text-uppercase">Publications</h4>
					<div class="content">
						<ul class="list-unstyled clear-margin">
							{% for publi in resume.publications %}
							<li class="card card-nested">
								<div class="content">
									<p class="clear-margin">
										<strong>
											{% if publi.website %}
												{% if publi.title %}
													<a href="{{ publi.website }}"
														 target="_blank"> {{ publi.title }}
													</a>
												{% else %}
													<a href="{{ publi.website }}"
														 target="_blank"> {{ publi.website }}
													</a>
												{% endif %}
											{% elsif publi.title %}
												{{publi.title}}
											{% endif %}
										</strong><br>
										{% if publi.publisher %}
										  {{ publi.publisher }}
										{% endif %}
										</p>
									{% if publi.releaseDate %}
									<p class="text-muted">
										<small>Published on: {{ publi.releaseDate | date: "%Y" }}</small>
									</p>
									{% endif %}
									{% if publi.summary %}
									<div class="mop-wrapper">
										<p>{{ publi.summary}}</p>
									</div>
									{% endif %}
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			{% if resume.interests != empty %}
			<div id="interests" class="detail">
				1
				<div class="icon">
					<i class="fs-lg icon-heart"></i>
					<span class="mobile-title">Interests</span>
				</div>
				<div class="info">
					<h4 class="title text-uppercase">Interests</h4>
					<div class="content">
						<ul class="list-unstyled clear-margin">
							{% for interest in resume.interests %}
							<li class="card card-nested">
								{% if interest.name %}
								<p><strong>{{ interest.name }}</strong></p>
								{% endif %}
								{% if interest.keywords != empty %}
								<div class="space-top labels">
									{% for keyword in interest.keywords %}
									<span class="label label-keyword">{{ keyword }}</span>
									{% endfor %}
								</div>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
			{% if resume.references != empty %}
			<div id="references" class="detail">
				<div class="icon">
					<i class="fs-lgicon-thumbs-up"></i>
					<span class="mobile-title">References</span>
				</div>
				<div class="info">
					<h4 class="title text-uppercase">References</h4>
					<div class="content">
						<ul class="list-unstyled clear-margin">
							{% for ref in resume.references %}
							<li class="card card-nested">
								{% if ref.name %}
								{{ ref.name }}
								{% endif %}
								{% if ref.text %}
								<blockquote class="quote">
									<div class="mop-wrapper">
										<p>{{ ref.text }}</p>
									</div>
								</blockquote>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</section>
