<section id="basics">
  <div id="contacts">
    <h3 class="underlined">{{locale.summary}}</h3>
    <div class="row">
      {% if resume.basics.website %}
        <div class="website col-sm-4">
          <strong>{{locale.website}}</strong>
          <a href="{{resume.basics.website}}">{{resume.basics.website}}</a>
        </div>
      {% endif %}
      {% if resume.basics.email %}
        <div class="email col-sm-4">
          <strong>{{locale.email}}</strong>
          <a href="mailto:{{resume.basics.email}}">{{resume.basics.email}}</a>
        </div>
      {% endif %}
      {% if resume.basics.phone %}
        <div class="phone col-sm-4">
          <strong>{{locale.phone}}</strong>
          {{resume.basics.phone}}
        </div>
      {% endif %}
    </div>
  </div>
  {% if resume.basics.summary %}
    <div id="summary">
      <p>{{resume.basics.summary}}</p>
    </div>
  {% endif %}
  {% if resume.basics.profiles != empty %}
    <section id="profiles">
      <div class="row">
        {% for profile in resume.basics.profiles %}
          <div class="col-sm-4">
            {% if profile.network %}
              <strong class="network">
                {{profile.network}}:
              </strong>
            {% endif %}
            {% if profile.url %}
              <a href="{{profile.url}}">
                {% if profile.username %}
                  {{profile.username}}
                {% else %}
                  {{profile.url}}
                {% endif %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
</section>

{% if resume.work != empty %}
  <section id="work">
    <h3 class="underlined">{{locale.work}}</h3>
    {% for work in resume.work %}
    <div class="entry">
      {% if work.company %}
      <!--section id="{{work.company}}"-->
        <h4 class="title">
          {{work.company | markdownify}}
          <span class="date">
            {% if work.endDate %}
            {% if work.startDate %}
            <span class="start-date">
              {{ work.startDate | date: "%B %Y" }} -
            </span>
            {% endif %}
            <span class="end-date">
            {{ work.endDate | date: "%B %Y" }}
            </span>
            {% else %}
              {% if work.startDate %}
                <span class="start-date">
                  {{locale.since}} {{ work.startDate | date: "%B %Y" }} -
                </span>
              {% else %}
                {{locale.actually}}
              {% endif %}
            {% endif %}
          </span>
        </h4>
      <!--/section-->
      {% endif %}

      {% if website %}
      <div class="website">
        <a href="{{work.website}}">{{work.website}}</a>
      </div>
      {% endif %}

      {% if work.position %}
      <div class="subtitle">
        {{work.position}}
      </div>
      {% endif %}

      {% if work.summary %}
      <div class="summary">
        <p>{{work.summary | markdownify}}</p>
      </div>
      {% endif %}

      {% if work.highlights != empty %}
      <ul class="highlights">
        {% for highlight in work.highlights %}
        <li>{{highlight | markdownify}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.volunteer != empty %}
  <section id="projects">
    <h3 class="underlined">{{locale.projects}}</h3>
    {% for volunteer in resume.volunteer %}
    <div class="entry">
      {% if volunteer.organization %}
      <section id="{{volunteer.organization}}">
        <h4 class="title">
          {{volunteer.organization}}
          <span class="date">
            {% if volunteer.startDate %}
            <span class="start-date">
              {{ volunteer.startDate | date: "%B %Y" }} -
            </span>
            {% endif %}
            {% if volunteer.endDate %}
            <span class="end-date">
              {{ volunteer.endDate | date: "%B %Y" }}
            </span>
            {% else %}
            <span class="end-date">
              {{locale.present}}
            </span>
            {% endif %}
          </span>
        </h4>
      </section>
      {% endif %}

      {% if website %}
      <div class="website">
        <a href="{{volunteer.website}}">{{volunteer.website}}</a>
      </div>
      {% endif %}

      {% if volunteer.position %}
      <div class="subtitle">
        {{volunteer.position}}
      </div>
      {% endif %}

      {% if volunteer.summary %}
      <div class="summary">
        <p>{{volunteer.summary}}</p>
      </div>
      {% endif %}

      {% if volunteer.highlights != empty %}
      <ul class="highlights">
        {% for highlight in volunteer.highlights %}
        <li>{{highlight}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.education != empty %}
  <section id="education">
    <h3 class="underlined">{{locale.education}}</h3>
    {% for education in resume.education %}
    <div class="entry">
      {% if education.institution %}
      <section id="{{education.institution}}">
        <div class="title">
          <h4> {{education.institution}}
            <span class="date">
              {% if education.startDate %}
              <span class="start-date">
                {{ education.startDate | date: "%B %Y" }} -
              </span>
              {% endif %}
              {% if education.endDate %}
              <span class="end-date">
                {{ education.endDate | date: "%B %Y" }}
              </span>
              {% else %}
              <span class="end-date">
                {{locale.present}}
              </span>
              {% endif %}
            </span>
          </h4>
        </div>
      </section>
      {% endif %}

      {% if education.area %}
      <div class="subtitle">
        {% if education.studyType %}
        {{education.studyType}},
        {% endif %}
        {{education.area}}
      </div>
      {% endif %}

      {% if education.courses != empty %}
      <p>
        {% if education.studyType %}
        <strong> {{education.studyType}}: </strong>
        {% else %}
        <strong> Courses: </strong>
        {% endif %}
        {{courses | join:', '}}
        </p>
      </ul>
      {% endif %}

      {% if education.dissertation %}
      <div class="dissertation">
        <span>{{locale.dissertation}} </span>{{education.dissertation}}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </section>
{% endif %}

{% if resume.skills != empty %}
  <section id="skills">
    <h3 class="underlined">{{locale.skills}}</h3>
    <div class="row">
      {% for skill in resume.skills %}
      <div class="skill col-sm-4">
        {% if skill.name %}
        <div class="name">
          <strong> {{skill.name}} </strong>
        </div>
        {% endif %}
        {% if skill.level %}
        <div class="level">
          <em>{{skill.level}}</em>
        </div>
        {% endif %}
        {% if skill.keywords %}
        <ul class="keywords">
          {% for keyword in skill.keywords %}
          <li>{{keyword}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if resume.languages != empty %}
<section id="languages">
  <h3 class="underlined">{{locale.languages}}</h3>
  <div class="row">
    {% for language in resume.languages %}
    <div class="col-sm-4">
      {% if language.language %}
      <span class="language">
        <strong>{{language.language}}:</strong>
      </span>
      {% endif %}
      {% if language.fluency %}
      <span class="level">
        {{language.fluency}}
      </span>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% if resume.interests != empty %}
<section id="interests">
  <h3 class="underlined">{{locale.interests}}</h3>
  <div class="row">
    {% for interest in resume.interests %}
    <div class="col-sm-4 entry">
      {% if interest.name %}
      <div class="name">
      <strong> {{interest.name}} </strong>
      </div>
      {% endif %}
      {% if interest.keywords %}
      <ul class="keywords">
        {% for keyword in interest.keywords %}
        <li>{{keyword}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% if resume.references != empty %}
<section id="references">
  <h3 class="underlined">{{locale.references}}</h3>
  {% for reference in resume.references %}
  <div class="item">
    {% if reference.reference %}
    <blockquote class="reference">
      {{reference.reference}}
    </blockquote>
    {% endif %}
    {% if reference.name %}
    <div class="name">
      — {{reference.name}}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %}
